<p>Hi <%= @user.name %>,</p>

<p>
  This is a reminder that <strong><%= @recipient.name %></strong>'s birthday is on
  <%= @birthday_date.strftime("%B %d, %Y") %>.
</p>

<p>
  You’re receiving this reminder 14 days in advance so you have time to plan a gift.
</p>

<p>
  Log in to GiftWise to view gift ideas and lists.
</p>

