<div class="homepage">
    <div class="homepage-content">
      <div class="grid grid-cols-1 lg:grid-flow-col lg:auto-cols-fr gap-6 w-full">
        <% Gift.statuses.keys.each do |status| %>
          <div class="card bg-base-100 border border-base-300 shadow-md h-full p-4">
            <h3 class="uppercase font-bold"><%= status %></h3>

            <div>
              <% if @global_gifts_status[status] %>
                <% @global_gifts_status[status].each do |gift| %>
                  <div class="mb-3">
                    <strong><%= gift.name %></strong><br>
                    <small>For: <%= gift.recipient.name %></small><br>
                    <%= link_to "Edit", recipient_gift_list_path(gift.recipient, gift.gift_list),
                                data: { turbo: false }
                    %>
                  </div>
                <% end %>
              <% else %>
                <div><em>No gifts in this stage</em></div>
              <% end %>
            </div>

          </div>
        <% end %>
      </div>
    </div>

</div>