<table>
  <thead>
  <tr>
    <th>Name</th>
<!--    <th></th>-->
  </tr>
  </thead>
  <tbody>
  <% gifts.each do |gift| %>
    <tr>
      <td>
        <%= link_to gift.name,
                    gift_list_gift_path( @gift_list, gift) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

