.navbar {
    background-color: var(--bg);
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}
